/* селектор {
    свойство: значение;
    свойство: значение;
    свойство: значение;
} */

*{
    box-sizing: border-box; /* Блочный элемент */
}
#begin{
    color: orange;
    font-weight: bold;
}
.box{
    display:block;
    width: 300px;
    height: 300px;
    background-color:rgb(147, 147, 211);
    padding: 20px 50px  40px 60px;

    border: 3px solid black;
    margin: 20px;

}

img{
    display: block;
    margin: 0 auto;
    width: 300px;

}

/* Строчные */
 
/* строчно-блочные */

